@media screen and (max-width: 1058px) {
    .flex-container .header-left h1 {
      font-size: 35px;
    }

    .flex-expertise .key-expertise {
      width: 100%;
      height: 300px;
    }

    /* avatar img */
    .img-border img {
      width: 350px;
      height: 350px;
      border: 25px solid #4e4a448a;
      border-radius: 100%;
      vertical-align: middle;
    } 
}

@media screen and (max-width: 800px) {
  /* Header */
     header {
       height: 900px;
       overflow: visible;
     }

     .header-left h1 {
      font-size: 35px;
     }

  /* Flex */
     .flex-container {
       flex-direction: column-reverse;
     }

     .header-right {
       margin-top: 50px;
     }

     .header-left {
       margin-top: 20px;
       text-align: center;
     }

     .findme-wrapper {
       width: 100%;
     }

  /* Font */
    .header-left h3, .header-left h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }

     .flex-container .header-left h1 {
      font-size: 32px;
      padding-bottom: 5px;
    }

  /* Logo */
      .findme-wrapper .fa {
        font-size: 20px;
      }

  /* avatar img */
      .img-border img {
        width: 330px;
        height: 330px;
        border: 25px solid #4e4a448a;
        border-radius: 100%;
        vertical-align: middle;
      }  

  /* about-me */
    .about-container .about-img-container #about-img {
      float: none;
    }

    .about-me-container {
      padding-right: 15px;
    }

    .about-me-container #about-me {
      margin-bottom: 30px; /* responsive */
    }
  /* Skill */
    .flex-expertise,.about-container {
      flex: 100%;
      flex-direction: column;
      align-items: center;
    }

    .about-container, #list-skills ul {
      text-align: center;
      justify-content: center;
      margin: 0 auto;
      padding-bottom: 70px;
    }

    .flex-expertise .key-expertise {
      text-align: center;
      margin-bottom: 20px;
    }

  /* Experience */
    .experience-edu, .experience-work, .experience-container {
      flex: 100%;
      flex-direction: column;
      align-items: center;
    }

    .experience-edu .edu, .experience-work .work-at {
      width: 100%;
      flex: 100%;
      flex-direction: column;
      margin-bottom: 20px;
    }

    .experience-edu h1, .experience-work h1 {
      padding-left: 0;
    }

    /* Flex Portofolio */
    .flex-portofolio {
      flex-direction: column;
    }

    /* Footer */ 
    footer .container {
      flex-direction: column;
      align-content: center;
    }

    .container .contact ul li {
      left: 20px;
    }
}
